/* src/index.css */
:root {
  --ui-sans: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--ui-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

